@page "/counter"

<h1>Components</h1>
<hr>

<CountrySelector SelectCountry="@onCountryChange" countries="@(countries)"/>

<Graph title="Graph of Aiymkan" 
       values="@valuesSelected"
       colors="@colorsSelected"
       countries="@(countriesSelected)" />

<br>

@code {

    private List<int> values= new List<int>(){20,30,40,50,60};
    private List<string> countries = new List<string>(){"Canada", "Belgium", "Kyrgyzstan", "Germany","Argentina"};
    private List<string> colors = new List<string>(){"#ffd859", "#5d8a82"," #ff5a5a", "#da70d6", "#af70d6"};


    private List<int> valuesSelected;
    private List<string> countriesSelected; 
    private List<string> colorsSelected; 
    protected override void OnInitialized()
    {
        this.countriesSelected = new List<string>(this.countries);
        this.valuesSelected = new List<int>(this.values);
        this.colorsSelected = new List<string>(this.colors);
    }
    public void onCountryChange(ChangeEventArgs args){

        this.countriesSelected.Clear();
        this.colorsSelected.Clear();
        this.valuesSelected.Clear();

        for(int i=0; i<this.countries.Count();i++){
            if(this.countries[i].Equals(args.Value.ToString()) || "Show All".Equals(args.Value.ToString())){
                this.countriesSelected.Add(this.countries[i]);
                this.valuesSelected.Add(this.values[i]);
                this.colorsSelected.Add(this.colors[i]);
            }
        }
    }

}